<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@400&family=Lobster&display=swap"
      rel="stylesheet"
    />
    <title>Acknowledgements</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Acknowledgements</h1>

    <p>
      I used TensorFlow v2.10.0, Groq v0.11.0, and Flask v3.03 (code debugged
      with ChatGPT).<br />
      My family also motivated me to continue this project, even after the
      Science Fair (not decided yet, but hopefully I will). Thanks to Nolan,
      Mom, and Dad.<br />
      I would also like to thank everyone who gave me guidance in my project,
      including my Science Fair teacher Mr. Hahn, Ask A Scientist Night
      volunteers, including Mr. Brendan O'Donnell and Can Gurbag, the IUSD Office Hours volunteers, and everyone else who I have forgotten to mention. I wish to thank them greatly for all of their help.
    </p>