
                <!DOCTYPE html>
                <html>
                <head>
                    <meta charset="utf-8" />
                    <meta name="viewport" content="width=device-width" />
                    <link rel="preconnect" href="https://fonts.googleapis.com" />
                    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
                    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400&family=Lobster&display=swap" rel="stylesheet" />
                    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
                    <title>Top 5 Recipe Choices</title>
                    <link rel="stylesheet" href="/static/style.css" />
                </head>
                <body>
                    <h1>1. Insalata Caprese I</h1>
                    <h2 class='class5'>Nutrition Rating: 0.485</h2>
                    <img src=https://www.allrecipes.com/thmb/36OWRUlHSMBPZoJekNI3X0t_XwM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/1425181-e1afe4a1534f42a38900986246040c4e.jpg alt="Image" />
                    <h2>Prep Time: 15 minutes <br>Cook Time:  minutes <br>Yield: 4 servings <br></h2>
                    <h2>Nutritional Facts:</h2>
                    <table style="width:100%">
                        <tr>
                            <th>Macronutrient</th>
                            <th>Amount (per yield)</th>
                        </tr>
                        
                            <tr>
                                <td>calories</td>
                                <td>498 kcal</td>
                            </tr>
                            
                            <tr>
                                <td>carbohydrateContent</td>
                                <td>13 g</td>
                            </tr>
                            
                            <tr>
                                <td>cholesterolContent</td>
                                <td>78 mg</td>
                            </tr>
                            
                            <tr>
                                <td>fiberContent</td>
                                <td>2 g</td>
                            </tr>
                            
                            <tr>
                                <td>proteinContent</td>
                                <td>19 g</td>
                            </tr>
                            
                            <tr>
                                <td>saturatedFatContent</td>
                                <td>17 g</td>
                            </tr>
                            
                            <tr>
                                <td>sodiumContent</td>
                                <td>154 mg</td>
                            </tr>
                            
                            <tr>
                                <td>sugarContent</td>
                                <td>10 g</td>
                            </tr>
                            
                            <tr>
                                <td>fatContent</td>
                                <td>40 g</td>
                            </tr>
                            
                            <tr>
                                <td>unsaturatedFatContent</td>
                                <td>0 g</td>
                            </tr>
                            
                    </table>
                    <h2>Ingredients:</h2>
                    <h3> - 4 ripe tomatoes, cut into wedges <br> - 14 ounces fresh mozzarella cheese, diced <br> - 1 red onion, sliced <br> - 0.33333334326744 cup extra virgin olive oil <br> - 0.33333334326744 cup balsamic vinegar <br> - 0.25 cup chopped fresh basil <br> - salt and pepper to taste <br></h3>
                    <h2>Instructions:</h2>
                    <h3>1. In a large bowl, combine the tomatoes, cheese, onion, oil, vinegar, basil, and salt and pepper to taste. Toss and chill for 1 hour. Serve on large platter. <br></h2>
                    <hr class="solid">
                    <h1>2. Burrata Caprese</h1>
                    <h2 class='class5'>Nutrition Rating: 0.472</h2>
                    <img src=https://www.allrecipes.com/thmb/a6L09lQcEnq1GZx0-_sBok0fPcU=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/9021286-f7bb32400d454b378d518bbee07f3db1.jpg alt="Image" />
                    <h2>Prep Time: 10 minutes <br>Cook Time:  minutes <br>Yield: 2 servings <br></h2>
                    <h2>Nutritional Facts:</h2>
                    <table style="width:100%">
                        <tr>
                            <th>Macronutrient</th>
                            <th>Amount (per yield)</th>
                        </tr>
                        
                            <tr>
                                <td>calories</td>
                                <td>307 kcal</td>
                            </tr>
                            
                            <tr>
                                <td>carbohydrateContent</td>
                                <td>6 g</td>
                            </tr>
                            
                            <tr>
                                <td>cholesterolContent</td>
                                <td>40 mg</td>
                            </tr>
                            
                            <tr>
                                <td>fiberContent</td>
                                <td>2 g</td>
                            </tr>
                            
                            <tr>
                                <td>proteinContent</td>
                                <td>9 g</td>
                            </tr>
                            
                            <tr>
                                <td>saturatedFatContent</td>
                                <td>10 g</td>
                            </tr>
                            
                            <tr>
                                <td>sodiumContent</td>
                                <td>148 mg</td>
                            </tr>
                            
                            <tr>
                                <td>sugarContent</td>
                                <td>4 g</td>
                            </tr>
                            
                            <tr>
                                <td>fatContent</td>
                                <td>26 g</td>
                            </tr>
                            
                            <tr>
                                <td>unsaturatedFatContent</td>
                                <td>0 g</td>
                            </tr>
                            
                    </table>
                    <h2>Ingredients:</h2>
                    <h3> - 2 tablespoons olive oil <br> - 1 tablespoon balsamic vinegar <br> - salt and freshly ground black pepper to taste <br> - 2 medium ripe tomatoes, diced <br> - 1 (4 ounce) ball burrata cheese, diced <br> - 6 leaves fresh basil, finely chopped <br></h3>
                    <h2>Instructions:</h2>
                    <h3>1. Mix together olive oil, vinegar, salt, and pepper in a large bowl until well combined. <br>2. Add tomatoes, burrata cheese, and basil. Toss to combine. Serve immediately. <br></h2>
                    <hr class="solid">
                    <h1>3. Owen&#39;s Mozzarella and Tomato Salad</h1>
                    <h2 class='class5'>Nutrition Rating: 0.472</h2>
                    <img src=https://www.allrecipes.com/thmb/QiNbSZxYHZTv7K3O-Pi7aIR-w-A=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/8286991-c9a5f323dbdd4a879ece178c51ea3daf.jpg alt="Image" />
                    <h2>Prep Time: 10 minutes <br>Cook Time:  minutes <br>Yield: 4 servings <br></h2>
                    <h2>Nutritional Facts:</h2>
                    <table style="width:100%">
                        <tr>
                            <th>Macronutrient</th>
                            <th>Amount (per yield)</th>
                        </tr>
                        
                            <tr>
                                <td>calories</td>
                                <td>332 kcal</td>
                            </tr>
                            
                            <tr>
                                <td>carbohydrateContent</td>
                                <td>9 g</td>
                            </tr>
                            
                            <tr>
                                <td>cholesterolContent</td>
                                <td>45 mg</td>
                            </tr>
                            
                            <tr>
                                <td>fiberContent</td>
                                <td>2 g</td>
                            </tr>
                            
                            <tr>
                                <td>proteinContent</td>
                                <td>19 g</td>
                            </tr>
                            
                            <tr>
                                <td>saturatedFatContent</td>
                                <td>9 g</td>
                            </tr>
                            
                            <tr>
                                <td>sodiumContent</td>
                                <td>448 mg</td>
                            </tr>
                            
                            <tr>
                                <td>sugarContent</td>
                                <td>6 g</td>
                            </tr>
                            
                            <tr>
                                <td>fatContent</td>
                                <td>25 g</td>
                            </tr>
                            
                            <tr>
                                <td>unsaturatedFatContent</td>
                                <td>0 g</td>
                            </tr>
                            
                    </table>
                    <h2>Ingredients:</h2>
                    <h3> - 4 large tomatoes <br> - 4 tablespoons olive oil <br> - ground black pepper to taste <br> - 10 ounces mozzarella cheese, thickly sliced <br> - 8 leaves fresh basil, torn into strips <br></h3>
                    <h2>Instructions:</h2>
                    <h3>1. Chop tomatoes in half, then slice finely; arrange on four plates. Trickle a tablespoon of olive oil over each serving, and sprinkle with black pepper. Lay slices of cheese over tomatoes, and strips of basil over cheese. Cover with plastic wrap, and refrigerate for 30 minutes before serving. <br></h2>
                    <hr class="solid">
                    <h1>4. Insalata Caprese</h1>
                    <h2 class='class5'>Nutrition Rating: 0.472</h2>
                    <img src=https://www.allrecipes.com/thmb/cgK0QmoodOj8tm5neMXJAiLNmVY=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/874978-2d18104afd044716a33960fa83b6cdf3.jpg alt="Image" />
                    <h2>Prep Time: 15 minutes <br>Cook Time:  minutes <br>Yield: 6 servings <br></h2>
                    <h2>Nutritional Facts:</h2>
                    <table style="width:100%">
                        <tr>
                            <th>Macronutrient</th>
                            <th>Amount (per yield)</th>
                        </tr>
                        
                            <tr>
                                <td>calories</td>
                                <td>309 kcal</td>
                            </tr>
                            
                            <tr>
                                <td>carbohydrateContent</td>
                                <td>6 g</td>
                            </tr>
                            
                            <tr>
                                <td>cholesterolContent</td>
                                <td>60 mg</td>
                            </tr>
                            
                            <tr>
                                <td>fiberContent</td>
                                <td>1 g</td>
                            </tr>
                            
                            <tr>
                                <td>proteinContent</td>
                                <td>18 g</td>
                            </tr>
                            
                            <tr>
                                <td>saturatedFatContent</td>
                                <td>11 g</td>
                            </tr>
                            
                            <tr>
                                <td>sodiumContent</td>
                                <td>529 mg</td>
                            </tr>
                            
                            <tr>
                                <td>sugarContent</td>
                                <td>4 g</td>
                            </tr>
                            
                            <tr>
                                <td>fatContent</td>
                                <td>24 g</td>
                            </tr>
                            
                            <tr>
                                <td>unsaturatedFatContent</td>
                                <td>0 g</td>
                            </tr>
                            
                    </table>
                    <h2>Ingredients:</h2>
                    <h3> - 4 large ripe tomatoes, sliced 1/4 inch thick <br> - 1 pound fresh mozzarella cheese, sliced 1/4 inch thick <br> - 0.33333334326744 cup fresh basil leaves <br> - 3 tablespoons extra virgin olive oil <br> - fine sea salt to taste <br></h3>
                    <h2>Instructions:</h2>
                    <h3>1. Alternate and overlap tomato slices, mozzarella cheese slices, and basil leaves on a large platter. Drizzle with olive oil. Season with sea salt and pepper. <br></h2>
                    <hr class="solid">
                    <h1>5. </h1>
                    <h2 class='class5'>Nutrition Rating: 0.469</h2>
                    <img src= alt="Image" />
                    <h2></h2>
                    <h2>Nutritional Facts:</h2> 
                    <table style="width:100%">
                        <tr>
                            <th>Macronutrient</th>
                            <th>Amount (per yield)</th>
                        </tr>
                        
                    </table>
                    <h2>Ingredients:</h2>
                    <h3></h3>
                    <h2>Instructions:</h2>
                    <h3></h2>
                </body>
                </html>
            